
.item {
    color: black;
}

.profileContent{
    max-width: 1153px;
    width: 100%;
    margin: 60px auto 0;
}

@media(max-width:1180px){
    .profileContent{
        box-sizing: border-box;
        padding: 5px;
    }
}
