.navMenu {
    display: flex;
    box-sizing: border-box;
    padding: 20px 0;
}

.nav {
    display: flex;
    box-sizing: border-box;
    padding: 20px 0;
}

.item a{
    color: black;
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
}

.nav .item{
    margin-right: 25px;
}


.item a.active{
    opacity: 0.5;
}

.navButton{

}

.navBurger{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #6C5B7B;
    position: absolute;
}

.navBurger:after{
    content: "";
    width: 25px;
    height: 3px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #6C5B7B;
    top: 16px;
}
.navBurger:before{
    content: "";
    width: 25px;
    height: 3px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #6C5B7B;
    top:8px;
}

.navBurgerSize{
    width: 25px;
    height: 19px;
    cursor: pointer;
    display: none;
}

.navBurgerSize:hover{
    opacity: 0.5;
}

.navBurgerTransform{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 59px;
    left: 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: all 0.2s;
}

.navActiveBurgerTransform{
    transform: translateX(0);
}

.navBurgerContent{
    width: 100%;
    height: 100%;
    background-color:#c8bed1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.navItemsMargin{
    margin: 20px 0;
}

.navUserNameMobileVersion{
    font-weight: 400;
    font-size: 20px;
    margin: 40px 0;
}

@media(max-width:455px) {
    .item a{
        font-size: 20px;
    }

    .nav {
        display: none;
    }

    .navBurgerSize{
        display: block;
    }

}

