.descriptionBlock{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.profileAvatarStatus{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 20px 0 0;
}

.profileStatus{
    margin: 60px 0 0;
    text-align: center;
}

.contactActiveJob{
    width: 25px;
    border-radius: 2px;
    height: 25px;
    position: relative;
    display: inline-block;
}

.contactActiveJob:after{
    top: 5px;
    left: 13px;
    position: absolute;
    content: '';
    width: 4px;
    transform: rotate(38deg);
    height: 19px;
    background-color: black;
}

.contactActiveJob:before{
    top: 13px;
    left: 4px;
    position: absolute;
    content: '';
    width: 4px;
    transform: rotate(-53deg);
    height: 8px;
    background-color: black;

}

.contactDisableJob{
    width: 25px;
    border-radius: 2px;
    height: 25px;
    position: relative;
    display: inline-block;
}
.contactDisableJob:after{
    top: 7px;
    left: 9px;
    position: absolute;
    content: '';
    width: 4px;
    transform: rotate(45deg);
    height: 19px;
    background-color: black;
}
.contactDisableJob:before{
    top: 7px;
    left: 9px;
    position: absolute;
    content: '';
    width: 4px;
    transform: rotate(-45deg);
    height: 19px;
    background-color: black;
}

.profileStatusInput{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.profileAvatar{
    position: relative;
}

.profileFormField{
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}

.profileInfoUploadInput{
    display: none;
}

.profileInfoUploadLabel{
    width: 200px;
    height: 200px;
    display: block;
    cursor: pointer;
    opacity: 0;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.profileInfoUploadLabel:hover{
    width: 200px;
    height: 200px;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    background-color: white;
    position: absolute;
}
.profileInfoUploadLabel:after{
    content: '';
    width: 200px;
    height: 200px;
    background:url('./iconDownload.png');
    display: block;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 50px 50px ;
}

.mainPhoto{
    max-width: 200px;
    border-radius: 20px;
}

.contactMargin{
    margin: 20px 0;
    font-size: 22px;
}

.contactInfo{
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

.contactSocialNetworks{
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

.contactButtonPosition{
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.contactButton{
    border-radius: 20px;
    background-color: #aa9cb7;
    border-color: transparent;
    box-sizing: border-box;
    padding: 5px;
    font-size: 20px;
    width: 100%;
}

.contactButton:active{
    opacity: 0.5;
}

.statusText{
    font-size: 22px;
}

.contactFormText{
    margin: 20px 0;
    font-size: 18px;
}


.contactFormInput{
    width: 100%;
    height: 25px;
    margin: 5px 0 0 0;
    border-radius: 10px;
}

.error{
    color: red;
}