.error{
    color: red;
}

.loginPosition{
    text-align: center;
    margin:150px auto 0;
    border:1px solid black;
    border-radius: 50px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
}

.loginText{
    margin: 20px 0;
}

.loginInput{
    margin: 0 0 20px;
    height: 20px;
    border-radius: 5px;
    border-color: transparent;
    box-sizing: border-box;
    max-width: 173px;
    width: 100%;
}

.loginButton {
    max-width: 290px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #6C5B7B;
    color: white;
    font-weight: 700;
    margin: 20px 0;
}

.loginButton:active{
    opacity: 0.5;
}

@media(max-width:620px) {
    .loginPosition{
        max-width: 450px;
        padding: 20px;
    }
}

@media(max-width:460px) {
    .loginPosition{
        max-width: 450px;
        border:none;
    }
}