* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
    background-color: #e6dedb;
}

.header{
    background-color: #d8c8c3;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.headerCon{
    max-width: 1620px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #d8c8c3;
}

.main{
    margin: 0 auto;
    padding: 117px 0 130px;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d8c8c3;
    z-index: 3;
}

.footerCon{
    max-width: 1620px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}

.wrapperApp{
    width: 100%;
    margin: 0 auto;
}

@media (max-width:455px) {
    .headerCon{
        justify-content: space-between;
        padding: 0 1%;
    }

    .main{
        padding: 59px 0 130px;
    }

}